<h5 class="d-flex justify-content-center" style="padding: 30px;">Login</h5>
<form action="/action_page.php" method="post">
    
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
          
      <button type="submit">Login</button>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">  
      <button type="button" class="cancelbtn">New Registration</button>
    </div>
  </form>